<div class="componet-lista container">
    <h2>Lista Videos</h2>
    <div *ngFor="let video of videos">
        <a [routerLink]="['/video-player', video.id]" class="row row-details">
            <div class="col-sm-2">
                <img class="w-75" src="{{rutaServer}}/{{video.imagen_src}}" alt="{{video.titulo}}">
            </div>
            <div class="col-sm-10">
                <h3>{{video.titulo}}</h3>
                <p>{{video.descripcion}}</p>
            </div>
        </a>
    </div>
</div>