<div *ngIf="videoInfo" class="container">
    <div class="videoContainer">
        <video #videoPlayer (loadedmetadata)="onMetadata($event, videoPlayer)">
                <source src="http://localhost:81/API/uploads/{{videoInfo.video_src}}">
         </video>
    </div>
    <div class="controles">
        <span class="fa fa-play" (click)="reproducirVideo()"></span>
        <span class="fa fa-pause" (click)="pausarVideo()"></span>
        <span class="fa fa-stop" (click)="detenerVideo()"></span>

    </div>
    <div class="detalles">
        <h1>{{videoInfo.titulo}} {{duracion}}</h1>
        <p>{{videoInfo.descripcion}}</p>
    </div>
</div>